<h2>Circus Disciplines</h2>

  <% @disciplines.each do |discipline| %>
    
    <div class="center">
        <h3><%= discipline.name %></h3>
    </div>
    
    <div class="row">
        <div class="photo col-sm-4 col-md-4">  
            <%= image_tag discipline.photo_url %>
            <p><%= discipline.photo_caption %></p>
        </div>
    
        <div class="col-sm-8 col-md-8">
            <p><%= discipline.description %></p>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12">      
        <% unless discipline.level_1_description.nil? %>
          <h4>Level 1:</h4> 
          <p><%= discipline.level_1_description %></p>
        <% end %>

        <% unless discipline.level_2_description.nil? %>
          <h4>Level 2:</h4> 
          <p><%= discipline.level_2_description %></p>
        <% end %>

        <% unless discipline.level_3_description.nil? %>
          <h4>Level 3:</h4> 
          <p><%= discipline.level_3_description %></p>
        <% end %>

        <% unless discipline.level_4_description.nil? %>
          <h4>Level 4:</h4> 
          <p><%= discipline.level_4_description %></p>
        <% end %>
      </div>
    </div>
    
<% end %>

