<h2>Upcoming seven-week session courses:</h2>

<% @sessions.each do |session| %>
  <% if session.start_date > Date.today %>
	  <%= session.name %>
	  <%= render 'shared/course_description', :course => session %>
  <% end %>
<% end %>

<h2>Upcoming one-time classes and drop-in sessions:</h2>

<% @courses.each do |course| %>
  <% if course.future %>
    <%= image_tag course.photo_url %>
    <%= render 'shared/course_description', :course => course %>
    
    <% if current_user.try(:admin?) %>
      <span><%= link_to 'Edit', edit_course_path(course) %></span> | 
      <span><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    <% end %>

  <% end %>
<% end %>

<h3><%= link_to "Sign up", new_course_registration_path %></h3>

