<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @discipline.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @discipline.description %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @discipline.photo_url %>
</p>

<p>
  <strong>Level 1 description:</strong>
  <%= @discipline.level_1_description %>
</p>

<p>
  <strong>Level 2 description:</strong>
  <%= @discipline.level_2_description %>
</p>

<p>
  <strong>Level 3 description:</strong>
  <%= @discipline.level_3_description %>
</p>

<p>
  <strong>Level 4 description:</strong>
  <%= @discipline.level_4_description %>
</p>

<p>
  <strong>All levels:</strong>
  <%= @discipline.all_levels %>
</p>

<p>
  <strong>Apparatus description:</strong>
  <%= @discipline.apparatus_description %>
</p>

<p>
  <strong>Apparatus photo urls:</strong>
  <%= @discipline.apparatus_photo_urls %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
