<% if user_signed_in? && current_user.admin %>
  <%= form_for(@seven_week_session) do |f| %>
    <% if @seven_week_session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@seven_week_session.errors.count, "error") %> prohibited this session from being saved:</h2>
        <ul>
        <% @seven_week_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3><%= @seven_week_session.short_description %></h3>

    <div class="field">
      <%= f.label :seven_week_session_name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :instructor_or_instructors %><br>
      <%= collection_check_boxes(:seven_week_session, :instructor_ids, User.where(instructor: true), :id, :name) %>
    </div>

    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </div>

    <div class="field">
      <%= f.label :start_time %><br>
      <%= f.time_select :start_time %>
    </div>

    <div class="field">
      <%= f.label :end_time %><br>
      <%= f.time_select :end_time %>
    </div>

    <div class="field">
      <%= f.label :max_class_size %><br>
      <%= f.number_field :max_class_size %>
    </div>

    <div class="field">
      <%= f.label :number_of_sessions %><br>
      <%= f.number_field :number_of_sessions %>
    </div>

    <div class="field">
      <%= f.label :full_session_price %><br>
      $<%= f.text_field :full_price %>.00
    </div>

    <div class="field">
      <%= f.label :drop_in_price %><br>
      $<%= f.text_field :drop_in_price %>.00
    </div>

    <div class="field">
      <%= f.label :level %><br>
      <%= f.number_field :level %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :discipline %><br>
      <%= collection_select(:seven_week_session, :discipline_id, Discipline.all, :id, :name) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>