<p id="notice"><%= notice %></p>

<h2><%= @seven_week_session.name %></h2>

<% unless @seven_week_session.users.include? current_user %>
  
    <% if @seven_week_session.future %>
   
    <% unless @seven_week_session.users.include? current_user %>
      <%= form_for @course_registration, action: 'create' do |f| %>
     
        <h3><%= @seven_week_session.name %></h3>
        <p><%= @seven_week_session.description %></p>
       
        <p>Full Price for Seven-Week Session: $<%= @seven_week_session.full_price %>.00</p>
        <%= f.hidden_field :price, value: @seven_week_session.full_price %>

        <%= render 'shared/course_time', :registerable => @seven_week_session  %>

        <%= @seven_week_session.spots_left %> spots left.

      <div class="field">
        <%= f.label :additional_information_for_your_instructors %><br>
        <%= f.text_area :comments %>
      </div>

        <%= f.hidden_field :registerable_id, value: @seven_week_session.id %>
        <%= f.hidden_field :registerable_type, value: "SevenWeekSession" %>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <% unless @seven_week_session.full %>
          <%= f.submit "Register for #{@seven_week_session.name}" %>
        <% else %>
          <strong>This class is full.  Please <%= mail_to "scheduling@eshaerialarts.com", "contact us"%> to get on the waiting list. </strong>
        <% end %>

      <% end %>
    <% end %>
  <% end %>
<% end %>

  <p>
    <strong>Instructor(s):</strong>
    <% @instructors.each do |instructor| %>
      <%= link_to instructor.name, user_path(instructor) %>
    <% end %>
  </p>

  <strong>Includes these class meetings:</strong>
    <ul>
      <% @seven_week_session.courses.each do |course| %>
        <li><%= link_to course.short_description, course %></li>
      <% end %>
    </ul>

  <p>
    <strong>Session Start date:</strong>
    <%= @seven_week_session.start_date.strftime("%A, %B %-d") %>
  </p>

  <p>
    <strong>Class Start time:</strong>
    <%= @seven_week_session.start_time.strftime("%-l:%M%P") %>
  </p>

  <p>
    <strong>Class End time:</strong>
    <%= @seven_week_session.end_time.strftime("%-l:%M%P") %>
  </p>

  <p>
    <strong>Max class size:</strong>
    <%= @seven_week_session.max_class_size %>
  </p>

  <p>
    <strong>Spots left:</strong>
    <%= @seven_week_session.spots_left %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= @seven_week_session.full_price %>.00
  </p>

  <p>
    <strong>Description:</strong>
    <%= @seven_week_session.description %>
  </p>

<% if current_user.try(:instructor?) || current_user.try(:admin?) %>

    <strong>All Students:</strong>
    <ol>
    <% @seven_week_session.users.each do |user| %>
      <% unless @seven_week_session.instructor_ids.include? user.id %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
    <% end %>
    </ol>

  <%= link_to 'Edit', edit_seven_week_session_path(@seven_week_session) %> |

<% end %>
  
  <%= link_to 'Back', '/upcoming_classes' %>
