<p id="notice"><%= notice %></p>

<h2><%= @seven_week_session.name %></h2>

<% unless @seven_week_session.users.include? current_user %>
  <%= render 'course_registrations/form', :registerable => @seven_week_session %><br>
<% end %>

  <p>
    <strong>Instructor(s):</strong>
    <% @instructors.each do |instructor| %>
      <%= link_to instructor.name, user_path(instructor) %>
    <% end %>
  </p>

  <strong>Includes these class meetings:</strong>
    <ul>
      <% @seven_week_session.courses.each do |course| %>
        <li><%= link_to course.short_description, course %></li>
      <% end %>
    </ul>

  <p>
    <strong>Session Start date:</strong>
    <%= @seven_week_session.start_date.strftime("%A, %B %-d") %>
  </p>

  <p>
    <strong>Class Start time:</strong>
    <%= @seven_week_session.start_time.strftime("%-l:%M%P") %>
  </p>

  <p>
    <strong>Class End time:</strong>
    <%= @seven_week_session.end_time.strftime("%-l:%M%P") %>
  </p>

  <p>
    <strong>Max class size:</strong>
    <%= @seven_week_session.max_class_size %>
  </p>

  <p>
    <strong>Spots left:</strong>
    <%= @seven_week_session.spots_left %>
  </p>

  <p>
    <strong>Price:</strong>
    $<%= @seven_week_session.full_price %>.00
  </p>

  <p>
    <strong>Description:</strong>
    <%= @seven_week_session.description %>
  </p>

<% if current_user.try(:instructor?) || current_user.try(:admin?) %>

    <strong>All Students:</strong>
    <ol>
    <% @seven_week_session.users.each do |user| %>
      <% unless @seven_week_session.instructor_ids.include? user.id %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
    <% end %>
    </ol>

  <%= link_to 'Edit', edit_seven_week_session_path(@seven_week_session) %> |

<% end %>
  
  <%= link_to 'Back', '/upcoming_classes' %>
