<ul>
	<li><%= link_to "All Esh Community Members", users_path %></li>
	<li><%= link_to "Add New Instructor or Student", new_user_path %></li>
	<li><%= link_to "Update Disciplines List and Descriptions", disciplines_path %></li>
	<li><%= link_to "Add a new Discipline", new_discipline_path %></li>
	<li><%= link_to "Add New Workshops", new_course_path %></li>
	<li><%= link_to "Add New Seven-Week Sessions", new_seven_week_session_path %></li>
	<li><%= link_to "Recent Course Registrations", recent_registrations_path %>
	</li>
</ul>