<% if current_user %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for(@user) do |f| %>

        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </div>

        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :bio %><br>
          <%= f.text_area :bio %>
        </div>

        <div class="field">
          <%= f.label :injuries %><br>
          <%= f.text_field :injuries %>
        </div>

        <div class="field">
          <%= f.label :emergency_contact_name %><br>
          <%= f.text_field :emergency_contact_name %>
        </div>

        <div class="field">
          <%= f.label :emergency_contact_number %><br>
          <%= f.text_field :emergency_contact_number %>
        </div>

        <div class="field">
          <%= f.label :phone_number %><br>
          <%= f.text_field :phone_number %>
        </div>
        <div class="field">
          <%= f.label :address %><br>
          <%= f.text_area :address %>
        </div>

      <% if current_user.admin %>
      
        <h5>Show this person's bio on the Esh Instructors Page?</h5>
        <div class="field">
          <%= f.label :instructor? %><br>
          <%= f.check_box :instructor %>
        </div>
        
        <h5>Make this person an Esh Website Administrator?</h5>
        <div class="field">
          <%= f.label :admin? %><br>
          <%= f.check_box :admin %>
        </div>

      <% end %>

        <div class="actions">
          <%= f.submit %>
        </div>

    <% end %>

<% end %>
