<% if current_user.admin %>

<h1>All Esh Students</h1>


    <% @users.each do |user| %>
    <%= render 'shared/user_profile', :user => user %>
        <span><%= link_to 'Show', user %></span>
        <span><%= link_to 'Edit', edit_user_path(user) %></span>
        <span><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    <% end %>

<br>

<%= link_to 'Enter a New Student or Instructor', new_user_path %>

<% end %>
