<% if current_user.instructor %>
	<h3>Classes I am teaching</h3>
	<ul>
	<% @my_courses.each do |registerable| %>
	  <li><%= link_to registerable.name, registerable %><%= render 'shared/course_time', :registerable => registerable  %></li>

      <ol>
		  <% registerable.course_registrations.each do |registration| %>
			    <% if registration.role == "student" %> 
				    <li><%= link_to registration.user.name, user_path(registration.user) %> 
				    Comments: <%= registration.comments %></li>
				      <% unless registration.paid %>
		            Tuition owed: $<%= registration.price %>.00
				      <% end %>
			    <% end %>
		  <% end %>
      </ol>
      <%= registerable.spots_left %> spots left in this class.
  <% end %>
  </ul>
	

<% end %>
