<p id="notice"><%= notice %></p>

<h2><%= @user.name %></h2>
<%= image_tag @user.photo%>
<% if @user.role == "teacher" %>

  <% @user.courses.each do |course| %>
    <%= link_to course.name, course %>
  <% end %>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Injuries:</strong>
  <%= @user.injuries %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @user.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact number:</strong>
  <%= @user.emergency_contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
