<p id="notice"><%= notice %></p>

<% if @user.instructor %>
  <h2><%= @user.name %></h2>
  
  <%= render 'shared/show_user', :user => @user %>
    <h4><%= @user.name %> is teaching these classes:</h4>
    <ul>
      <% @user.courses_teaching.each do |reg| %>
        <li><%= link_to reg.course_page.short_description, reg.course_page %> </li>
      <% end %>
    </ul>
    
<% elsif current_user.instructor %>

  <h2><%= @user.name %></h2>
  
  <%= render 'shared/show_user', :user => @user %>
    <h4><%= @user.name %> is taking these classes:</h4>
    <ul>
      <% @courses_taking.each do |reg| %>
        <li><%= link_to reg.course_page.short_description, reg.course_page %></li>
      <% end %>
    </ul>
<% else %>  
  <% redirect_to '/' %>
<% end %>


