<p id="notice"><%= notice %></p>

<% if @user.instructor %>
  <h2><%= @user.name %></h2>
  <%= image_tag @user.photo%>
    <h4><%= @user.name %> is teaching these classes:</h4>
    <ul>
      <% @user.courses.each do |course| %>
        <li><%= link_to course.name, course %> <%= render 'shared/course_time', :course => course  %></li>
      <% end %>
    </ul>

<% end %>


