
<% if current_user %>
	<% if current_user.instructor %>
	  <h4>Your bio and photo will be visible to the public on the instructors page.</h4>
	  <h5>The rest of your personal information is only viewable by other Esh staff</h5>
	<% else %>
	  <h4>Your student profile</h4>
	  <h5>This information will be shared with your instructors.</h5>
	<% end %>
	<%= render 'shared/show_user', :user => current_user %>


    <h4>You have registered for these classes:</h4>
    <ul>
      <% current_user.courses_taking.each do |reg| %>
        <li><%= link_to reg.course.name, reg.course %> <%= render 'shared/course_time', :course => reg.course  %></li>
        <% unless reg.paid %> <p class="lead"><%= link_to "Pay and reserve your spot now", new_charge_path %></p>
        <% end %>
      <% end %>
    </ul>

	<p><%= link_to "update my profile", edit_user_path(current_user) %></p>
	<p><%= link_to "see my current course registrations", course_registrations_path %></p>

<% end %>