<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @registration.user.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @registration.course.description %> starting on 
  <%= @registration.course.start_date.strftime("%A, %B %-d, %Y") %>
</p>

<h3><%= link_to "Pay Now", new_charge_path %></h3>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
