<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @registration.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @registration.course %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @registration.paid %>
</p>

<p>
  <strong>Timestamps:</strong>
  <%= @registration.timestamps %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
