<h3><%= course.name %></h3>
<p><%= course.description %></p>

<% if course.drop_in_price %>
  <p> Drop-in Price: $<%= course.drop_in_price%>.00 </p>
<% elsif course.price %>
  <p>Price $<%= course.price%>.00</p>
<% else %>
  <p>Full Price for Seven-Week Session: $<%= course.full_price %>.00</p>
<% end %>

<p>    
<%= render 'shared/course_time', :course => course  %>
</p>