
<p>
  <strong>Bio:</strong>
  <%= user.bio %>
</p>

<p>
  <strong>Injuries:</strong>
  <%= user.injuries %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= user.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact number:</strong>
  <%= user.emergency_contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= user.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= user.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= user.address %>
</p>