<% if user_signed_in? && current_user.admin %>
  <%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :instructor_id %><br>
      <%= collection_select(:course, :instructor_ids, User.where(instructor: true), :id, :name) %>
    </div>

    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date %>
    </div>
    <div class="field">
      <%= f.label :number_of_sessions %><br>
      <%= f.number_field :number_of_sessions %>
    </div>
    <div class="field">
      <%= f.label :price_in_dollars %><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :level %><br>
      <%= f.text_field :level %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :discipline %><br>
      <%= collection_select(:course, :discipline_id, Discipline.all, :id, :name) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
