<h1>Listing courses</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Number of sessions</th>
      <th>Price</th>
      <th>Instructior pay</th>
      <th>Level</th>
      <th>Description</th>
      <th>Discipline</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.start_date %></td>
        <td><%= course.end_date %></td>
        <td><%= course.number_of_sessions %></td>
        <td><%= course.price %></td>
        <td><%= course.instructior_pay %></td>
        <td><%= course.level %></td>
        <td><%= course.description %></td>
        <td><%= course.discipline %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
