
  <p id="notice"><%= notice %></p>

<% if current_user && current_user.courses.include?(@course) %>
  
  <%= link_to "Can't make it? Edit Your Registration", edit_course_registration_path %>

<% end %>


<%= render 'course_registrations/form', :course => @course %>


<h3><%= @course.short_description %></h3>

  <p>
    <strong>Instructor(s):</strong>
    <% @instructors.each do |instructor| %>
      <%= link_to instructor.name, user_path(instructor) %>
    <% end %>
  </p>
  
  <% if @course.seven_week_session_id %>
    <p>
      <strong>Part of a seven-week session:</strong>
      <%= link_to @course.seven_week_session.name, new_course_registration_path(@course.seven_week_session) %>
    </p>
  <% end %>

  <p>
    <strong>Spots left:</strong>
    <%= @course.spots_left %>
  </p>

  <p>
    
    <% if @course.drop_in_price%>
    <strong>Drop-In Price:</strong>
      $<%= @course.drop_in_price %>.00
    <% else %>
    <strong>Workshop Price:</strong>
      $<%= @course.price %>.00
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @course.description %>
  </p>

<% if current_user.try(:instructor?) || current_user.try(:admin?) %>

    <strong>All Students:</strong>
    <ol>
    <% @course.users.each do |user| %>
      <% unless @course.instructor_ids.include? user.id %>
        <li><%= link_to user.name, user_path(user) %></li>
      <% end %>
    <% end %>
    </ol>

  <%= link_to 'Edit this course listing', edit_course_path(@course) %> |

<% end %>

