
    <% if course.future %>

   
    <% unless current_user.courses.include? course %>
      <%= form_for @course_registration, action: 'create' do |f| %>
     
        <h3><%= course.name %></h3>
        <p><%= course.description %></p>

        <% if course.try(:full_price?) %>
          <p>Full Price for Seven-Week Session: $<%= course.full_price %>.00</p>
          <%= f.hidden_field :price, value: course.full_price %>

        <% elsif course.try(:drop_in_price?) %>
          <p> Drop-in Price: $<%= course.drop_in_price%>.00 </p>
          <%= f.hidden_field :price, value: course.drop_in_price %>
        <% else course.price %>
          <p>Price $<%= course.price%>.00</p>
          <%= f.hidden_field :price, value: course.price %>
        <% end %>

        <%= render 'shared/course_time', :course => course  %>

        <%= course.spots_left %> spots left.

      <div class="field">
        <%= f.label :additional_information_for_your_instructors %><br>
        <%= f.text_area :comments %>
      </div>

        <%= f.hidden_field :course_id, value: course.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <% unless course.full %>
          <%= f.submit "Register for #{course.name}" %>
        <% else %>
          <strong>This class is full.  Please <%= mail_to "scheduling@eshaerialarts.com", "contact us"%> to get on the waiting list. </strong>
        <% end %>

      <% end %>
    <% end %>
<% end %>