<% @courses.each do |course| %>
  <% if course.future %>
    <%= form_for @course_registration, action: 'create' do |f| %>

      <% if @course_registration.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course_registration.errors.count, "error") %> prohibited this course_registration from being saved:</h2>

          <ul>
          <% @course_registration.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
   <% unless current_user.courses.include? course %>
    <h3><%= course.name %></h3>
    <p><%= course.description %></p>
    <p>    
      <% if course.number_of_sessions > 1 %>
        <%= course.start_date.strftime("%A") %>s 
        <%= course.start_time.strftime("%k:%M")%> - <%=course.end_time.strftime("%k:%M")%> 
        <%= course.start_date.strftime("%B") %> to 
        <%= course.end_date.strftime("%B")%>
      <% else %>
        <%= course.start_date.strftime("%B") %>
        <%= course.start_time.strftime("%k:%M")%> - <%=course.end_time.strftime("%k:%M")%> 
      <% end %>
    </p>

    <%= f.submit "Register for this Course" %>
   <% end %>
  <% end %>
 <% end %>
<% end %>

<h1><%= link_to "Pay Now", new_charge_path %></h1>
