
    <% if registerable.future %>

   
    <% unless current_user.registerables.include? registerable %>
      <%= form_for @course_registration, action: 'create' do |f| %>
     
        <h3><%= registerable.name %></h3>
        <p><%= registerable.description %></p>

        <% if registerable.try(:full_price?) %>
          <p>Full Price for Seven-Week Session: $<%= registerable.full_price %>.00</p>
          <%= f.hidden_field :price, value: registerable.full_price %>

        <% elsif registerable.try(:drop_in_price?) %>
          <p> Drop-in Price: $<%= registerable.drop_in_price%>.00 </p>
          <%= f.hidden_field :price, value: registerable.drop_in_price %>
        <% else registerable.price %>
          <p>Price $<%= registerable.price%>.00</p>
          <%= f.hidden_field :price, value: registerable.price %>
        <% end %>

        <%= render 'shared/course_time', :registerable => registerable  %>

        <%= registerable.spots_left %> spots left.

      <div class="field">
        <%= f.label :additional_information_for_your_instructors %><br>
        <%= f.text_area :comments %>
      </div>

        <%= f.hidden_field :registerable_id, value: registerable.id %>
        <%= f.hidden_field :registerable_type, value: registerable.registerable_type%>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <% unless registerable.full %>
          <%= f.submit "Register for #{registerable.name}" %>
        <% else %>
          <strong>This class is full.  Please <%= mail_to "scheduling@eshaerialarts.com", "contact us"%> to get on the waiting list. </strong>
        <% end %>

      <% end %>
    <% end %>
<% end %>