 <% if course.future %>

          <% if @course_registration.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@course_registration.errors.count, "error") %> prohibited this course_registration from being saved:</h2>

              <ul>
              <% @course_registration.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
         
         <% unless current_user.courses.include? course %>
             <%= form_for @course_registration, action: 'create' do |f| %>
               <%= render 'shared/course_description', :course => course %>
               <%= course.spots_left %> spots left.

          <div class="field">
            <%= f.label :additional_information_for_your_instructors %><br>
            <%= f.text_area :comments %>
          </div>
  
            <%= f.hidden_field :course_id, value: course.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <% unless course.full %>
              <%= f.submit "Register for #{course.name}" %>
            <% else %>
              <strong>This class is full.  Please <%= mail_to "scheduling@eshaerialarts.com", "contact us"%> to get on the waiting list. </strong>
            <% end %>
         <% end %>
  
  <% end %>
 <% end %>