<h2>Edit Course Registration</h2>

<p class="lead">
You are registered for <%= @course_registration.course.short_description %> </p>

  <%= form_for @course_registration, action: 'create', role: 'form' do |f| %>
        
    <strong>
    Anything we should know?  Send a message to the Esh staff here.
    </strong>
    
    <div class="form-group">
      <%= f.text_area :comments, value: ""%>
    </div>
      
    <p class="lead"> 
    Can't make it? Come to make up week or drop in to another course.
    </p>

    <div class="form-group">
      <%= f.label :Substitute_Course %><br>
      <%= f.collection_select :course_id, @equivalent_courses, :id, :short_description %>
    </div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :role, value: "student" %>

    <div class="form-group">
      <%= f.submit "Update your registration" %>
    </div>
    
<% end %>

<% if @course_registration.paid == nil %>
  <strong><%= link_to "Pay Now", new_charge_path %></strong> | 
<% end %>

<% if current_user.try(:admin?) %>
  <strong><%= link_to 'Delete this registration ', @course_registration, method: :delete, data: { confirm: 'Are you sure?' } %></strong> | 
<% end %>

<strong><%= link_to 'Register for more courses', course_registrations_path %></strong>
