<% if current_user.courses_teaching.size > 0 %>
  <strong>You are teaching:</strong>
  <ul>
    <% current_user.courses_teaching.each do |course_registration| %>
    
      <% if course_registration.registerable_type == "SevenWeekSession" %>
        <li> 
          <%= link_to course_registration.registerable.short_description, course_registration.registerable %> 
          <%= course_registration.registerable.spots_left %> out of <%= course_registration.registerable.max_class_size %> spots left.
        </li>
        <ul>
        <% course_registration.registerable.courses.each do |course| %>
          <li><%= link_to course.short_description, course %>
            <%= course.spots_left %> out of <%= course.max_class_size %> spots left.
          </li>
        <% end %>
        </ul>
      <% elsif course_registration.registerable.number_of_sessions == 1 %>
        <li> 
          <%= link_to course_registration.registerable.short_description, course_registration.registerable %> 
          <%= course_registration.registerable.spots_left %> out of <%= course_registration.registerable.max_class_size %> spots left.
        </li>
      <% end %>
      
    <% end %>
  </ul>

<% end %>

<% if current_user.courses_taking.size > 0 %>
  <strong>You are registered as a student for:</strong>

  <ul>
  <% current_user.courses_taking.each do |course_registration| %>
  <li><%= link_to course_registration.registerable.short_description, course_registration %></li>
    <% if !course_registration.paid && course_registration.is_full_registration %>
      <strong>reserved pending payment of $<%= course_registration.price%>.00</strong>
    
    <% else %> 

      <ul>
      <% if course_registration.registerable_type == "SevenWeekSession" %>
        <% course_registration.registerable.courses.each do |course| %>
          <li>
            <%= link_to course.short_description, course %>
          </li>
        <% end %>
      <% end%>
      </ul>
    <% end %>  
  </ul> 

<% end %>
<% end %>

<% if current_user.unpaid_balance > 0 %>
  <strong>Your unpaid balance:</strong>
  $<%= current_user.unpaid_balance %>.00
  <h3><%= link_to "Pay Now", new_charge_path %></h3>
<% end %>

<p><%= link_to "Register for classes", new_course_registration_path %></p>

