<% if current_user.courses_teaching.size > 0 %>
  <strong>You are teaching:</strong>
  <ul>
    <% current_user.courses_teaching.each do |course_registration| %>
      <li> <%= link_to course_registration.registerable.short_description, course_registration.registerable %> </li>
    <% end %>
  </ul>

<% end %>

<% if current_user.courses_taking.size > 0 %>
  <strong>You are registered as a student for:</strong>

  <ul>

  <% current_user.courses_taking.each do |course_registration| %>


    <li><%= link_to course_registration.registerable.short_description, course_registration %></li>
      
    <% if !course_registration.paid %>
      <strong>reserved pending payment of $<%= course_registration.price%>.00</strong>
    <% end %>

    <% if course_registration.paid && course_registration.registerable.start_date > Date.today && course_registration.registerable_type == "Course" %>

      <%= link_to "Can't make it? Let us know.", edit_course_registration_path(course_registration) %>
      
    <% end %> 

  <% end %>
        
  </ul> 

<% end %>





<% if current_user.unpaid_balance > 0 %>
  <strong>Your unpaid balance:</strong>
  $<%= current_user.unpaid_balance %>.00
  <h3><%= link_to "Pay Now", new_charge_path %></h3>
<% end %>

<p><%= link_to "Register for classes", new_course_registration_path %></p>

