
<<<<<<< HEAD
<% if current_user.course_registrations.count > 0 %>
=======

>>>>>>> 80d2a3bc76770e56d22df13431db23e51cdee1bb
  <strong>You are registered for:</strong>
  <ul>
  <% @course_registrations.each do |course_registration| %>
      <li> 
         <%= course_registration.course.name %> 
         <% if course_registration.paid %>
           confirmed and paid for on <%= course_registration.updated_at.strftime("%A, %B %-d, %Y") %>
         <% else %>
           reserved pending payment of $<%= course_registration.course.price%>.00
         <% end %>
      </li>
    <% end %>
  </ul>


  <strong>Your unpaid balance:</strong>
  $<%= current_user.unpaid_balance %>.00
  <% if current_user.unpaid_balance > 0 %>
  <h3><%= link_to "Pay Now", new_charge_path %></h3>
  <% end %>
<<<<<<< HEAD
<% else %>
  <p> You have not yet registered for any classes.  <%= link_to "Sign Up Now", new_course_registration_path %></p>
<% end %>
=======
>>>>>>> 80d2a3bc76770e56d22df13431db23e51cdee1bb
