<h1>Register for Upcoming Courses</h1>

<%= link_to "See my current registrations", course_registrations_path %>

<h2>Upcoming Seven-Week Sessions</h2>

<% if @sessions.size > 0 %>

  <%= @sessions.each do |session| %>
    <%= render 'registration_menu', :course => session  %>
  <% end %>

<% else %>
  <p class="lead">All Seven-Week Sessions are either sold-out or in progress.  Please <%= mail_to "scheduling@eshaerialarts", "contact us" %> to get on our mailing list and be notified before the next round of classes begins.</p>
<% end %>

<h2>Upcoming Workshops and Drop-in Classes</h2>

<% @courses.each do |course| %>
  <%= render 'registration_menu', :course => course  %>
<% end %>

<h3><%= link_to "Pay Now", new_charge_path %></h3>


<h3><%= link_to 'See my current registrations', course_registrations_path %></h3>
