<p id="notice"><%= notice %></p>

<h2>New class registration created for: </h2>
<p><%= current_user.name %> <%= @course_registration.user.email %></p>

<p>
  <strong>Class:</strong>
  <% if @course_registration.registerable_type == "SevenWeekSession" %>
    <%= link_to @course_registration.registerable.name, seven_week_session_path(@course_registration.registerable) %> starting on 
    <%= @course_registration.registerable.start_date.strftime("%A, %B %-d, %Y") %>
  <% elsif @course_registration.registerable_type == "Course" %>
    <%= link_to @course_registration.registerable.name, course_path(@course_registration.registerable) %> on 
    <%= @course_registration.registerable.start_date.strftime("%A, %B %-d, %Y") %>
  <% end %>
</p>

<p>
<% unless @course_registration.sub  || @course_registration.paid %>
  <strong>Tuition for this course:</strong>
  $<%= @course_registration.price %>.00
<% end %>
</p>
 
<strong><%= link_to 'Edit this registration', edit_course_registration_path(@course_registration) %> </strong>
<strong><%= link_to "See all my registrations", course_registrations_path %></strong>

<% if current_user.unpaid_balance > 0 %>
  <h3><%= link_to "Pay Now", new_charge_path %></h3>
<% end %>



