<p id="notice"><%= notice %></p>

<h2>New course registration created for: </h2>
<p><%= current_user.name %> <%= @course_registration.user.email %></p>

<p>
  <strong>Course:</strong>
  <%= @course_registration.course.name %> starting on 
  <%= @course_registration.course.start_date.strftime("%A, %B %-d, %Y") %>
</p>

<p>
  <strong>Tuition for this course:</strong>
  <%= @course_registration.course.price %>
</p>
 



<h3><%= link_to "Pay Now", new_charge_path %></h3>

<%= link_to 'Edit', edit_course_registration_path(@course_registration) %> |
<%= link_to 'Back', course_registrations_path %>
