<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= current_user.unpaid_balance%>.00</span>

      <h3>Pay now to confirm your spot in these courses:</h3> 
      <ul> 
        <% @unpaid_course_registrations.each do |course_registration| %>
         <li> <%= course_registration.course.name %>: $<%= course_registration.course.price %>.00 </li>
          <%= link_to "remove", course_registration, method: :delete, data: { confirm: 'Remove this course registration?'} %>
        <% end %>
      </ul>
    </label>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= current_user.name %>"
          data-amount="<%= @amount %>"></script>
<% end %>