

<div id="header">
  <div class="header-text">
    <div class="nav-bar">
      <ul> 
        <% if current_user.try(:instructor) %>
        <li><%= link_to 'My Instructor Page', instructor_path %></li> | 
        <% end %>
        <% if current_user.try(:admin) %>
        <li><%= link_to 'Esh Admin Page', admin_path %></li> |
        <% end %>
        <% if current_user %>
        <li><%= link_to 'My Profile', student_path %></li> | 
        <% end %>
        <li><%= render 'devise/menu/registration_items' %></li>
        | <li><%= render 'devise/menu/login_items' %></li>
      </ul>
    </div>
    <h1><%= link_to 'Esh Circus Arts', '/' %></h1>
    <div class="nav-bar">
      <ul> 
        <li><%= link_to 'Circus Skills', '/disciplines' %></li> | 
        <li><%= link_to 'Calendar', '/upcoming_classes' %> </li> | 
        <li><%= link_to 'Register for Classes', new_course_registration_path %></li> |
        <li><%= link_to 'Workshops', '/workshops' %></li> | 
        <li><%= link_to 'Private Lessons', '/private_lessons'%></li> | 
        <li><%= link_to 'Instructors', '/instructors' %></li> | 
        <li><%= link_to 'Location', '/location' %></li>
     
      </ul>
    </div>
  </div>
</div>