<!DOCTYPE html>
<html>
<head>
  <title>Esh Circus Arts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="notice inline"><%= notice %></div>
<div class="alert inline"><%= alert %></div>
<%= render 'layouts/navbar' %>

<div id="page-container">
  <%= yield %>
</div>

</body>
</html>
