<!DOCTYPE html>
<html>
<head>
  <title>EshTestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="header-text">
    <h1><%= link_to 'Esh Circus Arts', '/' %></h1>
    <div id="nav-bar">
      <ul> 
        <li>Circus Skills</li> | 
        <li><%= link_to 'Classes', '/courses' %> </li> | 
        <li>Workshops</li> | 
        <li>Private Lessons</li> | 
        <li>About</li> | 
        <li>Contact</li>
      </ul>
    </div>
  </div>
</div>

<%= nav_bar :fixed => :top, :brand => 'Esh Circus Arts', :responsive => true do %>
  <%= menu_group do %>
    <%= menu_item "Home", root_path %>
    <%= menu_divider %>
    <%= drop_down "About Esh" do %>
      <%= menu_item "Location", location_path %>
      <%= menu_item "Contact Us", contact_path %>
    <% end %>
  <% end %>
<% end %>

<div id="page-container">
  <%= yield %>
</div>

</body>
</html>
