<!DOCTYPE html>
<html>
<head>
  <title>EshTestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="header-text">
    <h1><%= link_to 'Esh Circus Arts', '/' %></h1>
    <div id="nav-bar">
      <ul> 
        <li><%= link_to 'Circus Skills', '/disciplines' %></li> | 
        <li><%= link_to 'Classes', '/courses' %> </li> | 
        <li><%= link_to 'Register', new_registration_path %></li> |
        <li><%= link_to 'Workshops', '/workshops' %></li> | 
        <li>Private Lessons</li> | 
        <li><%= link_to 'Instructors', '/instructors' %></li> | 
        <li><%= link_to 'Location', '/location' %></li>
      </ul>
    </div>
  </div>
</div>

<div id="page-container">
  <%= yield %>
</div>

</body>
</html>
