<!DOCTYPE html>
<html>
<head>
  <title>EshTestApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="https://generalassemb.ly/education/web-development-immersive" class="inline"><img src="http://ga.bling.phillbaker.com/images/shield_imagined_ga_wdi.png" alt="wdi" /></a>
<div class="notice inline"><%= notice %></div>
<div class="alert inline"><%= alert %></div>
<%= render 'layouts/navbar' %>

<div id="page-container">
  <%= yield %>
</div>

</body>
</html>
